* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;

  border: solid 3px black;

  width: 60%;
  height: 100%;

  overflow: hidden;

  margin: 0 auto;
  padding-top: 30px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 200px;

  border: solid 5px red;

  background-color: rgb(11, 116, 16);

  padding: 15px;
}

.flexbox .board .card {
  padding: 15px;
  background-color: coral;

  cursor: pointer;
}
